<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Nguyen Tat Ky</h1>
    <img src="../images/ntk.jpg" alt="abc" />
  </body>
</html>
